---
import Layout from '../layouts/Layout.astro';

const metaTitle: string = 'My Account';

const user = await Astro.session?.get('user');
const token = await Astro.session?.get('token');

if (!user) {
    return Astro.redirect('/login');
}

const response: Response = await fetch('http://localhost:4321/api/account',
    {
        method: 'GET',
        headers: {
            token: token
        }
    } as RequestInit
);

let balance = (await response.json()).balance;
---

<Layout title={metaTitle}>

    <div>
        <h1>Welcome, {user}</h1>

        <button><a id="logoutBtn" type="submit" class="form_primary-btn">Log out</a></button>
    </div>

    <div>
        <p>Available balance: <span id="balance">{balance}</span></p>
    </div>

    <div>
        <p id="form-error"></p>

        <form class="form" action="/api/account" method="POST">

            <div class="form_row">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" required/>
            </div>

            <button class="form_primary-btn" type="submit">
                Send
            </button>
        </form>
    </div>

</Layout>

<script>
    const errorMessageElement: HTMLElement = document.getElementById("form-error")!;
    const balanceElement: HTMLElement = document.getElementById("balance")!;
    const inputAmountElement: HTMLInputElement = document.getElementById("amount")! as HTMLInputElement;

    document.querySelector('form')?.addEventListener("submit", async (e: SubmitEvent): Promise<void> => {
        e.preventDefault();
        errorMessageElement.innerText = "";
        const formElement: HTMLFormElement = e.target as HTMLFormElement;

        const formData = new FormData(formElement);
        const data = Object.fromEntries(formData.entries());

        const response: Response = await fetch(
            formElement.action,
            {
                method: formElement.method,
                body: JSON.stringify(data)
            } as RequestInit
        );

        const res = await response.json();
        errorMessageElement.innerText = res.message;

        if (response.ok) {
            balanceElement.innerText = res.balance;
            inputAmountElement.value = '';
        }
    });

    document.getElementById('logoutBtn')?.addEventListener('click', async (e: MouseEvent): Promise<void> => {
        errorMessageElement.innerText = "";

        const response: Response = await fetch('/api/logout', {
            method: 'POST',
        });

        if (response.ok) {
            window.location.assign('/login');
        }

        errorMessageElement.innerText = (await response.json()).message;
    });
</script>