---
const user = await Astro.session?.get('user');

if (!user) {
    return Astro.redirect('/login');
}


---
<h1>Welcome, { user }</h1>

<a href="/api/logout" id="logoutBtn" type="submit" class="form_primary-btn">Log out</a>

<script>
    document.getElementById('logoutBtn')?.addEventListener('click', async (e) => {
        const response = await fetch('/login', {
            method: 'GET',
        });

        window.location.assign(response.url);
    })
</script>