---
import Layout from '../layouts/Layout.astro';

const metaTitle: string = 'Request password reset';

---

<Layout title={metaTitle}>

    <div class="centered">

        <p id="form-error"></p>

        <form action="/api/forgot-password" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form_input" required/>
            </div>

            <div>
                <small class="italic">
                    Enter your email address, and we will send you a link to reset your password.
                </small>
            </div>

            <button class="form_primary-btn">Send password reset email</button>
        </form>
    </div>
</Layout>

<script>
    const errorMessageElement: HTMLElement = document.getElementById("form-error")!;

    document.querySelector('form')?.addEventListener("submit", async (e: SubmitEvent): Promise<void> => {
        e.preventDefault();

        errorMessageElement.innerText = "";
        const formElement: HTMLFormElement = e.target as HTMLFormElement;

        const formData = new FormData(formElement);
        const data = Object.fromEntries(formData.entries());

        const response: Response = await fetch(
            formElement.action,
            {
                method: formElement.method,
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data)
            } as RequestInit
        );

        if (!response.ok) {
            errorMessageElement.innerText = (await response.json()).message;
        } else {
            errorMessageElement.innerText = (await response.json()).message;
        }
    });
</script>