{% extends 'base.html.twig' %}

{% block title %}Reset your password!{% endblock %}

{% block body %}

    <div class="page">

        <div class="centered">

            {{ form_start(resetForm, { attr: { class: 'form' } }) }}

            {{ form_row(resetForm.plainPassword) }}

            <button class="form_primary-btn">Reset password</button>

            {{ form_end(resetForm) }}

        </div>

    </div>

{% endblock %}
